$primary-color: #021035;
$secondary-color: #323d51;
$btn-color: #021035;
$btn-hover-color: #233345;
$dark-text-color: #333333;
$light-text-color: #fff;
$form-border-color: #8f8f8f;
$link-hover-color: #f0ce0d;

// breadcrumb
$bread-bg-color: #ececec;
