.form-heading {
  font-weight: 500;
  color: #333333;
  padding-left: 0.5rem;
  margin-top: 15px;
}

.form-sub-heading {
  font-size: 12px;
  color: #333333;
  font-weight: 300;
  padding-left: 0.5rem;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333333;
}

.required-tag {
  color: #dc3545;
}

.cus-error {
  color: #dc3545;
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 80%;
}

.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #8f8f8f;
}

.form-control:focus {
  border-color: #323d51;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") #fff no-repeat calc(100% - 5px) !important;
  cursor: pointer;
}

input[type="number"] {
  text-align: right;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.react-tel-input .form-control {
  border: 1px solid #8f8f8f !important;
  border-radius: 0.25rem !important;
  height: 38px !important;
  width: 100% !important;
  outline: none;
}

.react-tel-input .flag-dropdown {
  border: 1px solid #8f8f8f !important;
  height: 38px;
}

.imgUpload {
  display: none;
}

.img-upload-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18%;
  height: 100px;
  margin: 2% 1%;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  margin-bottom: 10px;
  vertical-align: top;
}

.img-upload-label:hover {
  cursor: pointer;
}

.img-upload-label:hover .add-img-icon {
  -webkit-text-stroke: 1px #f1f1f1;
  color: #767676;
}

.add-img-icon {
  font-size: 25px;
  -webkit-text-stroke: 2px white;
  color: #8f8f8f;
}

.prev-images-div {
  display: inline-block;
  position: relative;
  width: 18%;
  height: 100px;
  border: 1px solid #8f8f8f;
  background: #f0f0f0;
  border-radius: 5px;
  margin: 2% 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

.prev-images-div .prev-images {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}

.prev-images-div .delete-img-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #dc3545;
}

.Toastify__toast-container--top-right {
  top: 5.5em !important;
  right: 1.5em !important;
}

.page-loading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.client-nav-bar {
  background: #000;
  height: 70px;
}

.client-nav-bar .logo {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.client-nav-bar .nav-link {
  display: inline;
  color: #fff;
  margin-left: 15px;
  font-size: 14px;
  vertical-align: middle;
}

.client-nav-bar .nav-link:hover {
  text-decoration: underline;
}

.client-nav-bar .user-name {
  margin-left: 15px;
  font-size: 14px;
  vertical-align: middle;
  color: #fff;
}

.client-nav-bar .fa-bars {
  display: none;
}

.logo-col {
  background: #ffc107;
}

.logo-col .logo-back-div {
  width: 275px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo-col .logo-back-div span {
  color: #000;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  padding-right: 10px;
}

.logo-col .logo-back-div span:hover {
  font-weight: 400;
}

.logo-col .logo-back-div .logo {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.logo-col,
.login-reg-col {
  height: 100vh;
}

@media (max-width: 768px) {
  .logo-col {
    height: 150px;
  }
  .login-reg-col {
    height: calc(100vh - 150px);
  }
  .logo-col .logo-back-div {
    width: 150px;
  }
}

@media (max-width: 350px) {
  .login-reg-col {
    height: 100vh;
  }
}

.login-reg-container {
  width: 65%;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-reg-container .heading {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 30px;
  color: #333333;
  letter-spacing: 0.7px;
}

@media (max-width: 480px) {
  .login-reg-container {
    width: 90%;
  }
}

.btn-submit {
  display: block;
  width: 100%;
  background: #021035;
  padding: 7px 15px;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 0.25rem;
  margin-top: 25px;
}

.btn-submit:hover {
  background: #233345;
  color: #fff;
}

.btn-submit:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.form-bellow-link {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
}

.forget-password-link {
  display: block;
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
  color: #333333;
}

.login-now-link {
  color: #323d51;
  font-weight: 400;
}

.forget-password-link:hover,
.login-now-link:hover {
  color: #323d51;
  text-decoration: underline;
}

.admin-sidebar-col {
  width: 245px;
  min-height: calc(100vh - 70px);
  background: #021035;
}

.admin-sidebar-col .accordion {
  position: relative;
  padding: 12px 15px;
  color: #fff;
  background: #021035;
  font-weight: 400;
  border-bottom: 1px solid #8f8f8f;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.admin-sidebar-col .panel a {
  display: block;
  font-size: 14px;
  color: #fff;
  background: #323d51;
  padding: 10px 15px 10px 25px;
  font-weight: 300;
}

.admin-sidebar-col .panel a:hover {
  text-decoration: none;
  color: #333333;
  background: #fff !important;
  font-weight: 400;
}

.admin-sidebar-col .panel .active-tab {
  color: #333333;
  background: #fff !important;
  font-weight: 500;
}

@media (max-width: 768px) {
  .admin-sidebar-col {
    display: none;
  }
}

.inner-breadcrumb {
  border-radius: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 2;
}

.content-col .breadcrumb {
  background: #ececec;
  padding-bottom: 10px;
}

.content-col .breadcrumb li {
  color: #333333;
  font-size: 14px;
}

@media (max-width: 480px) {
  .inner-breadcrumb {
    top: 70px;
  }
}

.sidebar-col {
  width: 250px;
  height: calc(100vh - 70px);
  border-right: 1px solid #ccc;
}

.log-tasks-col {
  width: 50%;
  padding: 15px;
  border-right: 1px solid #ccc;
}

.analytics-col {
  width: calc(50% - 250px);
  padding: 15px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .log-tasks-col {
    width: calc(100% - 250px);
  }
}

@media (max-width: 992px) {
  .sidebar-col {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .analytics-col {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .log-tasks-col {
    width: calc(100%);
  }
}

.sidebar-col .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.sidebar-col .list-group-item:focus {
  outline: 0;
}

.accordion .card-header {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.accordion .card-header:after {
  content: "";
  border: 2px solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  margin-right: 12px;
  position: absolute;
  top: 15px;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.time-log-table {
  font-size: 12px;
  width: 100%;
}

.time-log-table tr {
  border-bottom: 1px solid #ccc;
}

.time-log-table tr td {
  padding: 8px 10px;
}

.time-log-table .time-range {
  font-weight: 500;
  margin-right: 5px;
}

.time-log-table .project-label {
  background-color: #f1c607;
  padding: 0 10px;
  border-radius: 20px;
  font-size: 11px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 17px;
}

.time-log-table .task-desc {
  white-space: pre-line;
  overflow-wrap: break-word;
}

.accordion .collapsed:after {
  content: "";
  border: 2px solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  margin-right: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 15px;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cus-badge {
  position: absolute !important;
  top: 9px !important;
  right: 33px;
  line-height: 21px;
  padding: 0 10px;
}

.highcharts-credits {
  display: none;
}
