.inner-breadcrumb {
  border-radius: 0;
  position: sticky;
  top: 70px;
  z-index: 2;
}

.content-col {
  .breadcrumb {
    background: $bread-bg-color;
    padding-bottom: 10px;

    li {
      color: $dark-text-color;
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .inner-breadcrumb {
    top: 70px;
  }
}
