.admin-sidebar-col {
  width: 245px;
  min-height: calc(100vh - 70px);
  background: $primary-color;

  .accordion {
    position: relative;
    padding: 12px 15px;
    color: $light-text-color;
    background: $primary-color;
    font-weight: 400;
    border-bottom: 1px solid $form-border-color;
    font-size: 14px;
    line-height: 16px;
    transition: 0.3s;
    cursor: pointer;
  }

  .panel {
    a {
      display: block;
      font-size: 14px;
      color: $light-text-color;
      background: $secondary-color;
      padding: 10px 15px 10px 25px;
      font-weight: 300;

      &:hover {
        text-decoration: none;
        color: $dark-text-color;
        background: #fff !important;
        font-weight: 400;
      }
    }

    .active-tab {
      color: $dark-text-color;
      background: #fff !important;
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  .admin-sidebar-col {
    display: none;
  }
}
